<a href="https://colab.research.google.com/github/pennyshi/cs221/blob/main/CS221_Tutorial_Python_Review.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# CS221 Python Review Tutorial

Presenter: Dilara

Hi! In this tutorial, we will review the basics of Python. This tutorial is largely based on the [CS224N Python Tutorial](http://web.stanford.edu/class/cs224n/readings/cs224n-python-review-code-updated.zip), prepared by Angelica Sun, as well as the [W3Schools Python Tutorial](https://www.w3schools.com/python/).

## Contents

* Fundamentals
* Control Flows
* Functions 
* Classes
* Iterables
*  Q&A

## Fundamentals

### Syntax

We can run a Python file through the command line as follows:

```
python example.py
```

This line of code will call the `Python` version that is bound to `python` alias in the command line environment. You would sometimes get `Module Not Found` errors. One of the first troubleshooting steps you can do is to actually check whether you are using the correct `Python` binary. To learn which `Python` is being called, you can run:

```
which python
```

Let's start with printing "Hello World!"

In [ ]:
# Printing Hello World!
print("Hello World!")

Hello World!

Indentation is important in `Python`. Lines of code that are in the same block of code should be indented with the same number of spaces.

In [ ]:
# Example of an Indentation Error
print("Hello")
    print("Hello World!")

IndentationError: ignored

You can use line comments or block comments to comment code in `Python`.

In [ ]:
# Line comment

"""
Block comment
"""

print("Hi!")

Hi!

### Variables

In `Python`, variables are defined by assigning value to them. There is no need to explicitly declare the type of a variable.

In [ ]:
# str, immutable
var = "hello" # '' 
print(type(var))

<class 'str'>

In [ ]:
# int, immutable
var = 10
print(type(var))

<class 'int'>

In [ ]:
# float, immutable
var = 10.0
print(type(var))

<class 'float'>

In [ ]:
# bool, immutable
var = True # False
print(type(var))

<class 'bool'>

In [ ]:
# tuple, immutable
# collections of objects
var = (8,9)
print(type(var))

<class 'tuple'>

In [ ]:
# list
var = [1,2,3]
print(type(var))

<class 'list'>

In [ ]:
# None
var = None
print(type(var))

<class 'NoneType'>

We can re-assign a variable to a different type.

In [ ]:
var = 10
print(type(var)) 
var = "Hi 221!"
print(type(var))

<class 'int'>
<class 'str'>

We can cast variables to different types.

In [ ]:
a = 10
print(a, type(a))

b = str(a)
print(b, type(b))

c = int(b)
print(c, type(c))

d = float(c)
print(d, type(d))

10 <class 'int'>
10 <class 'str'>
10 <class 'int'>
10.0 <class 'float'>

Variable names are sensitive to case.

In [ ]:
a = 10
A = "221"
print(a == A)

False

We can assign values to multiple variables in one line.

In [ ]:
a, b, c = "I", "love", "CS221"
print(a)
print(b)
print(c)

I
love
CS221

We can also print multiple variables in one `print` statement by seperating them with a comma.

In [ ]:
a, b, c = "I", "love", "CS221"
print(a, b, c)

I love CS221

### Operations

#### Number Operations

You can use math operators on variables and literals.

In [ ]:
var = 10
print(var + 4)
print(var - 4)

14
6

In [ ]:
# Multiply with *
print(var * 4)

# Raise power with **
print(var ** 4)

40
10000

In [ ]:
# Float division with / 
print(var / 4)

# Integer division with //
print(var // 4)

# Integer division is the same as dividing then casting
print(int(var / 4))

2.5
2
2

We can also use compounding operators for each.

In [ ]:
print(var)
var **= 4
print(var)

10
10000

In [ ]:
--a

TypeError: ignored

#### Boolean Operations

Boolean operations are `not`, `and`, and `or`.

In [ ]:
print(not True)

False

In [ ]:
print(True and False)

False

In [ ]:
var = True or False
print(var)

True

`==` checks value equality. `!=` checks inequality.

In [ ]:
a = "221"
b = "221"
print(a == b)

True

Operations `>=` and `<=` are available when the order is defined. Refer to this [link](https://www.geeksforgeeks.org/sorting-objects-of-user-defined-class-in-python/) to learn how to define order for user defined classes.

In [ ]:
a = 6
b = 8
print(b >= a)

True

#### String Operations

For strings, double quotes and single quotes are equivalent.

In [ ]:
a = "221"
b = '221'
print(a >= b)

True

We can get the length of a string. `len` function can be used on any `iterable`. Strings are iterables in `Python`, so they can just be treated as arrays.

In [ ]:
a = "I love CS221!"
print(len(a))

13

We can access specific elements of a string through their indices.

In [ ]:
print(a[0])

I

In [ ]:
# [start_index, end_index)
print(a[2:6])

love

We can lower all the charaters in a string.

In [ ]:
print(a.lower())

i love cs221!

We can multiply a string.

In [ ]:
print(a * 4)

I love CS221!I love CS221!I love CS221!I love CS221!

We can concatenate strings.

In [ ]:
b = "How about you?"
c = a + " " + b
print(c)

I love CS221! How about you?

We can check if a substring exists in a string. We can also get the start index of the first occurence of a substring.

In [ ]:
print("love" in a)

True

In [ ]:
if "love" not in a:
  print("yeyyy")

In [ ]:
print("love" not in a)

False

In [ ]:
a.index("love")

2

We can split a string.

In [ ]:
# The default delimiter is a space, but we can pass a different delimiter 
a.split()

['I', 'love', 'CS221!']

In [ ]:
a.split('2')

['I love CS', '', '1!']

We can combine a list.

In [ ]:
a_splitted = a.split()
print(a_splitted)

a_joined = '-'.join(a_splitted)
print(a_joined)

['I', 'love', 'CS221!']
I-love-CS221!

We can format variables in strings.

In [ ]:
pi = 3.14159
print("Pi is %.2f!"%(pi))

Pi is 3.14!

In [ ]:
f"Pi is {pi}!"

'Pi is 3.14159!'

## Control Flows

### For Loops

We can use loops to iterate over iterables, such as strings or arrays.

In [ ]:
s = "I love 221!"
for character in s:
  print(character)

I

l
o
v
e

2
2
1
!

In [ ]:
arr = ['a','b','c','d','e','f']
index = 0
for char in arr:
  print(char)

a
b
c
d
e
f

If we also want to keep track of the iteration number, we can use the `enumerate` function.

In [ ]:
for i, char in enumerate(a):
  print(i, char)

0 I
1
2 l
3 o
4 v
5 e
6
7 C
8 S
9 2
10 2
11 1
12 !

We can iterate a set number of times using the `range` function.

In [ ]:
# Same as for (int i = 0; i < 4; i++)
for i in range(4):
  print(i)

0
1
2
3

We can use different ranges as well. `range` function can take 3 parameters:

`range(start-inclusive, stop-exclusive, step)`

In [ ]:
# Same as for (int = 2; i > -3, i =- 2)
for i in range(2, -3, -2): 
    print(i)

2
0
-2

### While Loops

We can also use `while` loops.

In [ ]:
ind = 0
while ind < 5:
    print(ind)
    ind +=1
    break

0

### If Condition

We can execute a portion of code based on conditions.

In [ ]:
operation = "add"
num = 6
if operation == "add":
    print("Adding: ", num + num)
elif operation == "multiply":
    print("Multiplying: ", num * num)

elif 

elif ...
else:
    print("Operation is not defined.")

Adding:  12

We can check for `None` objects with `if`.

In [ ]:
a = None
if a:
  print("not None")
else:
  print("None")

None

In [ ]:
if a is None:
  print('yes')

yes

We can check for empty arrays or strings of length 0 with `if`.

In [ ]:
arr = ''
if arr:
  print("not empty")

In [ ]:
s = ''
if s:
  print("not empty")
else:
  print("empty")

empty

## Functions

We can define functions as shown in the following code block. Make sure to define your functions before calling them!

In [ ]:
# Define the function
def example_func(a, b):
    pass

# Call the function
example_func(5, 10)

Functions may have optional parameters.

In [ ]:
# Function checking whether the variable is withing a range
def check_range(a, min_val = 0, max_val=10):
    return min_val < a < max_val

# Calling the function
check_range(5, max_val=3)

False

Params of immutable types are passed by value. Mutable types are passed by reference.

In [ ]:
def example_function(variable):
  variable = 10
  print(variable)

a = 15
print(a)
example_function(a)
print(a)

15
10
15

In [ ]:
def example_function(variable):
  variable[0] = 10
  print(variable)

a = [0,1,2,3,4]
print(a)
example_function(a)
print(a)

[0, 1, 2, 3, 4]
[10, 1, 2, 3, 4]
[10, 1, 2, 3, 4]

If you want to prevent your function from the original variables, you can make a deep copy inside your function before using your parameters.

In [ ]:
import copy

def example_function(variable):
  # Alternative 1
  variable = variable[:]
  
  # Alternative 2
  variable = copy.deepcopy(variable)

  variable[0] = 10
  print(variable)

a = [0,1,2,3,4]
print(a)
example_function(a)
print(a)

[0, 1, 2, 3, 4]
[10, 1, 2, 3, 4]
[0, 1, 2, 3, 4]

Functions can access variables in their parent block's scope.

In [ ]:
outside_variable = "This is an outside variable!"

def some_function():
  print(outside_variable)

print(outside_variable)
some_function()

This is an outside variable!
This is an outside variable!

Functions can't change the values of the outside variables the same way.

In [ ]:
outside_variable = "This is an outside variable!"

def some_function():
  print(outside_variable)
  outside_variable = "Function changed the outside variable"

print(outside_variable)
some_function()

This is an outside variable!

UnboundLocalError: ignored

We can resolve this error using the `global` key.

In [ ]:
outside_variable = "This is an outside variable!"

def some_function():
  global outside_variable
  outside_variable = "Function changed the outside variable!"

print(outside_variable)
some_function()
print(outside_variable)

This is an outside variable!
Function changed the outside variable!

If a variable of the same name is defined in a function, the later definition overwrites the former only in the function scope.

In [ ]:
variable = "This is an outside variable!"

def some_function(variable="Function variable."):
  print(variable)

print(variable)
some_function()
print(variable)

This is an outside variable!
Function variable.
This is an outside variable!

Variables defined in a function can't be accessed outside.

In [ ]:
def some_function():
  function_variable = "This is a function variable!"
  print(function_variable)

some_function()
function_variable

This is a function variable!

NameError: ignored

Functions can also define variables to be used in the global scope, using the `global` key.

In [ ]:
def foo():
  global global_variable
  # If we try printing global_variable here, we would get a not defined error
  global_variable = "This is a global variable!"
  print(global_variable)

def bar():
  print(global_variable)

foo()
bar()

This is a global variable!
This is a global variable!

We can define functions within functions.

In [ ]:
def main_function(a):

  def helper_function(a):
    return int(a)

  print(a)
  b = helper_function(a)
  print(b)

# Calling the main function
main_function(2.0)
helper

2.0
2

Functions can take in functions as variables.

In [ ]:
def function_taker(a, func):
  return func(a)

function_taker(1.0, int)

int(1.0)

1

We can seperately define the function we need to pass.

In [ ]:
def parameter_function(x):
  return x + 5

def function_taker(a, func):
  return func(a)

function_taker(1.0, parameter_function)

6.0

We can also use `lambda` functions.

In [ ]:
def function_taker(a, func):
  return func(a)

function_taker(1.0, lambda x: x + 5)

6.0

`lambda` functions can use variables in their parent scope.

In [ ]:
num_to_add = 10

def function_taker(a, func):
  return func(a)

function_taker(1.0, lambda x: x + num_to_add)

11.0

We can also have recursive functions.

In [ ]:
def print_positive_numbers(num):
  if num <= 0:
    print("Done!")
  else:
    print(num)
    print_positive_numbers(num-1)

print_positive_numbers(10)

10
9
8
7
6
5
4
3
2
1
Done!

## Classes

We can define classes ourselves as well.

In [ ]:
class Foo():
    # Alternative: class Foo(object) - all Python classes inherits 'object'
    class_variable = 'same' # class variable
    
    # Optional constructor
    def __init__(self, x):
        # first parameter "self" for instance reference, like "this" in JAVA
        self.x = x
    
    # instance method
    def print_x(self): # instance reference is required for all instance variables
        print(self.x)
        
    # class method
    @classmethod
    def modify_class_variable(cls):
        cls.class_variable = 'changed'

    # static method
    @staticmethod
    def print_hello():
        print("Hello!")

print(Foo.class_variable)    

obj1 = Foo(6)
obj1.print_x()
print(obj1.class_variable)

obj2 = Foo(5)
obj2.print_x()
print(obj2.class_variable)

obj1.modify_class_variable()
print(obj1.class_variable)
print(obj2.class_variable)
print(Foo.class_variable)

same
6
same
5
same
changed
changed
changed

We can also inherit classes.

In [ ]:
# Inherits variables and methods
class Bar(Foo):
    pass

obj = Bar(3)
obj.print_x()

3

## Iterables

There are several different built-in iterable objects in `Python`.

In [ ]:
# immutable iterables, with fixed size
astring = str()
atuple = tuple()

# mutable iterables, not fixed size
alist = list()  # linear
adict = dict()  # hash table, stores (key, value) pairs
aset = set()    # hash table, like dict but only stores keys

Size of any iterable can be obtained with `len`.

In [ ]:
print(len(alist))

0

### List

Lists store an ordered list of elements.

In [ ]:
"""
List: 

  mutable - not hashable: can't be used as dictionary keys
  dynamic size
  allows duplicates and inconsistent element types
  dynamic array implementation
"""
alist = [] # equivalent to list()
alist = [1,2,3,4,5] # initialized list

We can access and modify list elements, similar to strings.

In [ ]:
print(alist[0])
alist[0] = 5
print(alist)

print("-"*10)
# list indexing
print(alist[0]) # get first element (at index 0)
print(alist[-2]) # get 2nd to last element (at index len-1)
print(alist[3:]) # get elements starting from index 3 (inclusive)
print(alist[:3]) # get elements stopping at index 3 (exclusive)
print(alist[2:4]) # get elements within index range [2,4)
print(alist[6:]) # prints nothing because index is out of range

5
[5, 2, 3, 4, 5]
----------
5
4
[4, 5]
[5, 2, 3]
[3, 4]
[]

We can reverse a list.

In [ ]:
alist[::-1] # returns a reversed list

[5, 4, 3, 2, 5]

We can call methods on a list.

In [ ]:
alist.append("new item") # insert at end
alist.insert(0, "new item") # insert at index 0
alist.extend([2,3,4]) # concatenate lists
# above line is equivalent to alist += [2,3,4]
alist.index("new item") # search by content
alist.remove("new item") # remove by content
popped = alist.pop(0) # remove by index
print(alist)
print(popped)

[2, 3, 4, 5, 'new item', 2, 3, 4]
5

We can check if an element is contained in a list.

In [ ]:
if "new item" in alist:
    print("found")

found

### Tuples

Tuples allow us to store immutable lists.

In [ ]:
"""
Tuple: 

  immutable - hashable: can be used as a dictionary key
  fixed size: no insertion or deletion
"""
atuple = (1,2,3,4,5)

In [ ]:
atuple = (1)

In [ ]:
type(atuple)

int

Indexing or traversal of a `tuple` is the same as that of a `list`.

In [ ]:
# Defining tuple from a list
atuple = tuple([1,2,3])

We can use tuples as dictionary keys.

In [ ]:
ngram = ("a", "cat")
d = dict()
d[ngram] = 10
d[ngram] += 1

We can use named tuples to improve readability.

In [ ]:
from collections import namedtuple
Point = namedtuple('Point', 'x y')
pt1 = Point(1.0, 5.0)
pt2 = Point(2.5, 1.5)
print(pt1.x, pt1.y)

1.0 5.0

### Dictionary

Dictionaries are useful for storing key - value pairs.

In [ ]:
"""
Dict: 

  not hashable 
  dynamic size
  no duplicates allowed
  hash table implementation which is fast for searching

"""
adict = {} # same as dict()
adict = {'dog': 10, 'bird': 5, 'lion': 8}
print(adict)

{'dog': 10, 'bird': 5, 'lion': 8}

We can get keys, values or items in a dictionary.

In [ ]:
print(adict.keys())
print(adict.values())
print(adict.items())

dict_keys(['dog', 'bird', 'lion'])
dict_values([10, 5, 8])
dict_items([('dog', 10), ('bird', 5), ('lion', 8)])

We can access an item with a specific key.

In [ ]:
print(adict['lion'])

8

We can check if a key exists in a dictionary. This is needed since accessing non-existent keys throws an error.

In [ ]:
adict['tiger']

KeyError: ignored

In [ ]:
if 'tiger' in adict:
  print(adict[key])
else:
  print('Key not found.')

Key not found.

Insert new keys.

In [ ]:
adict['tiger'] = 1

Modify existing keys.

In [ ]:
adict['lion'] = 20

Traversing dictionaries.

In [ ]:
for key in adict:
    print(key, adict[key])

dog 10
bird 5
lion 8

Traversing key, value pairs together.

In [ ]:
for key, val in adict.items():
  print(key, val)

dog 10
bird 5
lion 20
tiger 1

### DefaultDict

`DefaultDict` is a special dictionary that returns a default value when a key queried isn't found.

In [ ]:
from collections import defaultdict

adict = defaultdict(int)
adict['cat'] = 5
print(adict['cat'])
print(adict['dog'])

5
0

It is also possible to pass a custom function.

In [ ]:
from collections import defaultdict
adict = defaultdict(lambda: 'unknown')
adict['cat'] = 'feline'
print(adict['cat'])
print(adict['dog'])

feline
unknown

### Counter

`Counter` is a dictionary with default value of 0.

In [ ]:
from collections import Counter

# initialize and modify empty counter
counter1 = Counter()
counter1['t'] = 10
counter1['t'] += 1
counter1['e'] += 1
print(counter1)

Counter({'t': 11, 'e': 1})

We can initialize counters from other iterables.

In [ ]:
counter2 = Counter("letters to be counted")
print(counter2)

Counter({'e': 4, 't': 4, ' ': 3, 'o': 2, 'l': 1, 'r': 1, 's': 1, 'b': 1, 'c': 1, 'u': 1, 'n': 1, 'd': 1})

We can perform operations between counters.

In [ ]:
print("1", counter1 + counter2)
print("2", counter1 - counter2)
print("3", counter1 or counter2) # or for intersection, and for union

1 Counter({'t': 15, 'e': 5, ' ': 3, 'o': 2, 'l': 1, 'r': 1, 's': 1, 'b': 1, 'c': 1, 'u': 1, 'n': 1, 'd': 1})
2 Counter({'t': 7})
3 Counter({'t': 11, 'e': 1})

We can use other special methods on counters. Check out the docs for more!

In [ ]:
counter2.most_common(5)

[('e', 4), ('t', 4), (' ', 3), ('o', 2), ('l', 1)]

We can iterate list of tuples.

In [ ]:
for k,v in counter2.most_common(5):
  print(k, v)

e 4
t 4
  3
o 2
l 1

### Set

Set is a special dictionary without values.

In [ ]:
aset = set()
aset.add('a')
aset

{'a'}

We can use sets to remove duplicates from a list.

In [ ]:
alist = [5,2,3,3,3,4,3]
alist = list(set(alist))
print(alist)

[2, 3, 4, 5]

In [ ]:
set(alist)

{2, 3, 4, 5}

In [ ]:
list(set(alist))

[2, 3, 4, 5]

### Sorting

We can sort iterables.

In [ ]:
a = [4,6,1,7,0,5,1,8,9]
a = sorted(a)
print(a)
a = sorted(a, reverse=True)
print(a)

[0, 1, 1, 4, 5, 6, 7, 8, 9]
[9, 8, 7, 6, 5, 4, 1, 1, 0]

We can sort iterables containing tuples.

In [ ]:
# sorting
a = [("cat",1), ("dog", 3), ("bird", 2)]
a = sorted(a)
print(a)
b = sorted(a, key=lambda item: item[1])
print(b)

[('bird', 2), ('cat', 1), ('dog', 3)]
[('cat', 1), ('bird', 2), ('dog', 3)]

We can pass a function we define outside instead of a lambda function.

In [ ]:
def sorting_key(item):
  return item[1]

sorted(a, key=sorting_key)

[('cat', 1), ('bird', 2), ('dog', 3)]

We can sort dictionaries the same way.

In [ ]:
adict = {'cat':3, 'bird':1}
print(sorted(adict.items(), key=lambda x:x[1]))

[('bird', 1), ('cat', 3)]

### List Comprehension

Instead of using `for` loops every time, we can use list comprehensions to create new lists or other iterables.

In [ ]:
"""
for i in range(len(sent)):
    sent[i] = sent[i].lower().split(" ")
""" 

sent = ["i am good", "a beautiful day", "HELLO FRIEND"]
sent1 = [s.lower().split(" ") for s in sent]
print(sent1)

[['i', 'am', 'good'], ['a', 'beautiful', 'day'], ['hello', 'friend']]

We can have conditions.

In [ ]:
sent2 = [s.lower().split(" ") for s in sent if len(s) > 10]
print(sent2)

[['a', 'beautiful', 'day'], ['hello', 'friend']]

We can create other iterables the same way.

In [ ]:
keys = ['a', 'b', 'c']
dict1 = {k: i for i, k in enumerate(keys)}
print(dict1)

{'a': 0, 'b': 1, 'c': 2}

Another useful function we can use is `zip`.

In [ ]:
keys = ['a', 'b', 'c']
values = [10, 5, 30]
zipped = zip(keys, values)
print(zipped)        # zip object
print(list(zipped))  # pass to list to unzip

for k, v in zip(keys, values):
  print(k, v)

<zip object at 0x7fc747a65640>
[('a', 10), ('b', 5), ('c', 30)]
a 10
b 5
c 30

## Q&A

Question time!